---
swagger: "2.0"
info:
  description: "This is the documentation for the OpenRouteService API."
  version: "4.0.0"
  title: "OpenRouteService API"
  contact:
    email: "openrouteservice@geog.uni-heidelberg.de"
  license:
    name: "MIT"
    url: "https://github.com/swagger-api/swagger-ui/blob/master/LICENSE"
host: "api.openrouteservice.org"
schemes:
- "https"
produces:
- "text/json; charset=utf-8"
security:
- UserSecurity: []
paths:
  /directions:
    get:
      summary: "Routing Service"
      description: "Returns a route between two or more locations for a selected profile\
        \ and its settings as GeoJSON response.\n"
      parameters:
      - name: "coordinates"
        in: "query"
        description: "Pipe separated List of longitude,latitude coordinates visited\
          \ in order."
        required: true
        type: "array"
        items:
          type: "string"
          format: "longitude,latitude"
        collectionFormat: "pipes"
      - name: "profile"
        in: "query"
        description: "Specifies the route profile."
        required: true
        type: "string"
        enum:
        - "driving-car"
        - "driving-hgv"
        - "cycling-regular"
        - "cycling-road"
        - "cycling-safe"
        - "cycling-mountain"
        - "cycling-tour"
        - "cycling-electric"
        - "foot-walking"
        - "foot-hiking"
        - "wheelchair"
      - name: "preference"
        in: "query"
        description: "Specifies the route preference."
        required: false
        type: "string"
        default: "fastest"
        enum:
        - "fastest"
        - "shortest"
        - "recommended"
      - name: "units"
        in: "query"
        description: "Specifies the distance unit."
        required: false
        type: "string"
        default: "m"
        enum:
        - "m"
        - "km"
        - "mi"
      - name: "language"
        in: "query"
        description: "Language for the route instructions."
        required: false
        type: "string"
        default: "en"
        enum:
        - "cn"
        - "de"
        - "en"
        - "es"
        - "ru"
      - name: "geometry"
        in: "query"
        description: "Specifies whether to return geometry."
        required: false
        type: "boolean"
        default: true
        enum:
        - "true"
        - "false"
      - name: "geometry_format"
        in: "query"
        description: "Sets the format of the returned geometry."
        required: false
        type: "string"
        default: "encodedpolyline"
        enum:
        - "encodedpolyline"
        - "geojson"
        - "polyline"
      - name: "geometry_simplify"
        in: "query"
        description: "Specifies whether to simplify the geometry. `true` will automatically\
          \ be set to `false` if `extra_info` parameter is specified."
        required: false
        type: "boolean"
        default: false
        format: "double"
        enum:
        - "true"
        - "false"
      - name: "instructions"
        in: "query"
        description: "Specifies whether to return instructions."
        required: false
        type: "boolean"
        default: true
        enum:
        - "true"
        - "false"
      - name: "instructions_format"
        in: "query"
        description: "Select `html` for more verbose instructions."
        required: false
        type: "string"
        default: "text"
        enum:
        - "html"
        - "text"
      - name: "elevation"
        in: "query"
        description: "Specifies whether to return elevation values for points."
        required: false
        type: "boolean"
        default: false
        enum:
        - "true"
        - "false"
      - name: "extra_info"
        in: "query"
        description: "Pipe separated List of additional information."
        required: false
        type: "array"
        items:
          type: "string"
          enum:
          - "steepness"
          - "suitability"
          - "surface"
          - "waycategory"
          - "waytype"
        collectionFormat: "pipes"
        uniqueItems: true
      - name: "options"
        in: "query"
        description: "For advanced options formatted as json object. For structure\
          \ refer to the **options model** below."
        required: false
        type: "string"
      - name: "id"
        in: "query"
        description: "Arbitrary identification string of the request reflected in\
          \ the meta information."
        required: false
        type: "string"
      responses:
        200:
          description: "Standard response for successfully processed requests. Returns\
            \ JSON."
          schema:
            type: "array"
            items:
              $ref: "#/definitions/Routeresponse"
        400:
          description: "The request is incorrect and therefore can not be processed."
          schema:
            $ref: "#/definitions/error"
        401:
          description: "Authorization field missing."
        405:
          description: "The specified HTTP method is not supported. For more details,\
            \ refer to the EndPoint documentation."
        413:
          description: "The request is larger than the server is able to process,\
            \ the data provided in the request exceeds the capacity limit."
        500:
          description: "An unexpected error was encountered and more detailed internal\
            \ error\ncode is provided.\n\n| Internal Code | Description          \
            \                              |\n|:-------------:|----------------------------------------------------|\n\
            |      200      | Unable to parse JSON request.                      |\n\
            |      201      | Required parameter is missing.                     |\n\
            |      202      | Invalid parameter format.                          |\n\
            |      203      | Invalid parameter value.                           |\n\
            |      204      | Parameter value exceeds the maximum allowed limit. |\n\
            |      299      | Unknown internal error.                            |\n"
        501:
          description: "Indicates that the server does not support the functionality\
            \ needed to fulfill the request."
        503:
          description: "The server is currently unavailable due to overload or maintenance."
  /geocoding:
    get:
      summary: "Geocoding Service"
      description: "Returns a JSON formatted list of objects corresponding to the\
        \ search input.\n"
      parameters:
      - name: "query"
        in: "query"
        description: "Name of location, street address or postal code."
        required: true
        type: "string"
      - name: "lang"
        in: "query"
        description: "Sets the language of the response."
        required: false
        type: "string"
        default: "en"
        enum:
        - "de"
        - "en"
        - "fr"
        - "it"
      - name: "limit"
        in: "query"
        description: "Specifies the maximum number of responses."
        required: false
        type: "number"
        default: 20
        format: "double"
      - name: "id"
        in: "query"
        description: "Arbitrary identification string of the request reflected in\
          \ the meta information."
        required: false
        type: "string"
      responses:
        200:
          description: "Standard response for successfully processed requests. Returns\
            \ JSON."
          schema:
            type: "array"
            items:
              $ref: "#/definitions/Geocoderesponse"
        400:
          description: "The request is incorrect and therefore can not be processed."
          schema:
            type: "array"
            items:
              $ref: "#/definitions/error"
        401:
          description: "Authorization field missing."
        405:
          description: "The specified HTTP method is not supported. For more details,\
            \ refer to the EndPoint documentation."
        413:
          description: "The request is larger than the server is able to process,\
            \ the data provided in the request exceeds the capacity limit."
        500:
          description: "An unexpected error was encountered and more detailed internal\
            \ error\ncode is provided.\n\n| Internal Code | Description          \
            \                              |\n|:-------------:|----------------------------------------------------|\n\
            |      100      | Unable to parse JSON request.                      |\n\
            |      101      | Required parameter is missing.                     |\n\
            |      102      | Invalid parameter format.                          |\n\
            |      103      | Invalid parameter value.                           |\n\
            |      104      | Parameter value exceeds the maximum allowed limit. |\n\
            |      199      | Unknown internal error.                            |\n"
        501:
          description: "Indicates that the server does not support the functionality\
            \ needed to fulfill the request."
        503:
          description: "The server is currently unavailable due to overload or maintenance."
  /geocoding (reverse):
    get:
      summary: "Reverse Geocoding Service"
      description: "Returns the next enclosing object with an address tag which surrounds\
        \ the given coordinate.\n"
      parameters:
      - name: "location"
        in: "query"
        description: "Coordinate to be inquired."
        required: true
        type: "number"
        format: "longitude,latitude"
      - name: "lang"
        in: "query"
        description: "Sets the language of the response."
        required: false
        type: "string"
        default: "en"
        enum:
        - "de"
        - "en"
        - "fr"
        - "it"
      - name: "id"
        in: "query"
        description: "Arbitrary identification string of the request reflected in\
          \ the meta information."
        required: false
        type: "string"
      responses:
        200:
          description: "Standard response for successfully processed requests. Returns\
            \ JSON."
          schema:
            type: "array"
            items:
              $ref: "#/definitions/Reversegeocoderesponse"
        400:
          description: "The request is incorrect and therefore can not be processed."
          schema:
            type: "array"
            items:
              $ref: "#/definitions/error"
        401:
          description: "Authorization field missing."
        405:
          description: "The specified HTTP method is not supported. For more details,\
            \ refer to the EndPoint documentation."
        413:
          description: "The request is larger than the server is able to process,\
            \ the data provided in the request exceeds the capacity limit."
        500:
          description: "An unexpected error was encountered and more detailed internal\
            \ error\ncode is provided.\n\n| Internal Code | Description          \
            \                              |\n|:-------------:|----------------------------------------------------|\n\
            |      100      | Unable to parse JSON request.                      |\n\
            |      101      | Required parameter is missing.                     |\n\
            |      102      | Invalid parameter format.                          |\n\
            |      103      | Invalid parameter value.                           |\n\
            |      104      | Parameter value exceeds the maximum allowed limit. |\n\
            |      199      | Unknown internal error.                            |\n"
        501:
          description: "Indicates that the server does not support the functionality\
            \ needed to fulfill the request."
        503:
          description: "The server is currently unavailable due to overload or maintenance."
  /isochrones:
    get:
      summary: "Isochrones Service"
      description: "The Isochrone Service supports time and distance analyses for\
        \ one single\nor multiple locations. You may also specify the isochrone interval\
        \ or\nprovide multiple exact isochrone range values. This service allows the\n\
        same range of profile options listed in the ORS Routing section which\nhelp\
        \ you to further customize your request to obtain a more detailed\nreachability\
        \ area response.\n\n| category_group_ids |  accomodation: 100 |     animals:\
        \ 120    | arts_and_culture: 130 |   education: 150   |      facilities: 160\
        \      |    financial: 190    |       healthcare: 200      |      historic:\
        \ 220      | leisure_and_entertainment: 260 |    natural: 330   |  public_places:\
        \ 360  |   service: 390   |         shops: 420        |   sustenance: 560\
        \  |       transport: 580       |    tourism: 620   |\n|:------------------:|:------------------:|:-------------------:|:---------------------:|:------------------:|:-------------------------:|:--------------------:|:--------------------------:|:-----------------------:|:------------------------------:|:-----------------:|:--------------------:|:----------------:|:-------------------------:|:------------------:|:--------------------------:|:-----------------:|\n\
        | category_ids       | accomodation:100   | animal_boarding:121 | arts_centre:131\
        \       | college:151        | compressed_air:161        | atm:191       \
        \       | baby_hatch:201             | aircraft:221            | adult_gaming_centre:261\
        \        | cave_entrance:331 | embassy:361          | beauty:391       | agrarian:421\
        \              | bar:561            | aerodrome:581              | artwork:621\
        \       |\n|                    | alpine_hut:101     | animal_shelter:122\
        \  | gallery:132           | driving_school:152 | bench:162              \
        \   | bank:192             | clinic:202                 | aqueduct:222   \
        \         | amusement_arcade:262           | beach:332         | crematorium:362\
        \      | estate_agent:392 | alkohol:422               | bbq:562          \
        \  | aeroport:582               | attraction:622    |\n|                 \
        \   | apparmtent:102     | veterinary:123      | library:133           | kindergarten:153\
        \   | emergency_phone:163       | bureau_de_change:193 | dentist:203     \
        \           | archaeological_site:223 | beach_resort:263               | geyser:333\
        \        | community_centre:363 | dry_cleaning:393 | antiques:423        \
        \      | biergarten:563     | bicycle_parking:583        | fountain:623  \
        \    |\n|                    | camp_site:103      | pet:124             |\
        \ museum:134            | lanuage_school:154 | clock:164                 |\
        \                      | doctors:204                | castle:224         \
        \     | bandstand:264                  | hill:334          | courthouse:364\
        \       | glaziery:394     | art:424                   | caf?:564        \
        \   | bicycle_rental:584         | information:624   |\n|                \
        \    | caravan_site:104   |                     | place_of_worship:135  |\
        \ music_school:155   | defibrillator:165         |                      |\
        \ emergency_access_point:205 | cannon:225              | bird_hide:265   \
        \               | peak:335          | coworking_space:365  | hairdresser:395\
        \  | bag:425                   | drinking_water:565 | bicycle_repair_station:585\
        \ | picnic_site:625   |\n|                    | chalet:105         |     \
        \                | studio:136            | school:156         | drinking_water:166\
        \        |                      | hospital:206               | city_gate:226\
        \           | common:266                     | rock:336          | crypt:366\
        \            | laundry:396      | bakery:426                | fast_food:566\
        \      | boat_sharing:586           | travel_agency:626 |\n|             \
        \       | hostel:107         |                     |                     \
        \  | university:157     | fire_hydrant:167          |                    \
        \  | nursing_home:207           | citywalls:227           | dance:267    \
        \                  | saddle:337        | fire_station:367     | massage:397\
        \      | bed:427                   | food_court:567     | bus_station:587\
        \            | viewpoint:627     |\n|                    | hotel:108     \
        \     |                     |                       |                    |\
        \ hunting_stand:168         |                      | pharmacy:208        \
        \       | battlefield:228         | dog_park:268                   | spring:338\
        \        | grave_yard:368       | photo_booth:398  | beverages:428       \
        \      | ice_cream:568      | bus_stop:588               |               \
        \    |\n|                    | motel:109          |                     |\
        \                       |                    | internet_cafe:169         |\
        \                      | retirement_home:209        | boundary_stone:229 \
        \     | firepit:269                    | volcano:339       | police:369  \
        \         | tailor:399       | bicycle:429               | pub:569       \
        \     | car_rental:589             |                   |\n|              \
        \      | wilderness_hut:110 |                     |                      \
        \ |                    | kneipp_water_cure:170     |                     \
        \ | social_facility:210        | building:230            | fishing:270   \
        \                 | water:340         | post_office:370      | tattoo:400\
        \       | books:430                 | restaurant:570     | car_repair:590\
        \             |                   |\n|                    |              \
        \      |                     |                       |                   \
        \ | post_box:171              |                      | blood_donation:211\
        \         | farm:231                | fitness_centre:271             |   \
        \                | prison:371           |                  | boutique:431\
        \              |                    | car_sharing:591            |       \
        \            |\n|                    |                    |              \
        \       |                       |                    | recycling:172     \
        \        |                      |                            | fort:232  \
        \              | garden:272                     |                   | ranger_station:372\
        \   |                  | brewing_supplies:432      |                    |\
        \ car_wash:592               |                   |\n|                    |\
        \                    |                     |                       |     \
        \               | recycling_station:173     |                      |     \
        \                       | gallows:233             | golf_course:273      \
        \          |                   | rescue_station:373   |                  |\
        \ business_machines:433     |                    | charging_station:593  \
        \     |                   |\n|                    |                    | \
        \                    |                       |                    | sanitary_dump_station:174\
        \ |                      |                            | highwater_mark:234\
        \      | hackerspace:274                |                   | townhall:374\
        \         |                  | butcher:434               |               \
        \     | ev_charging:594            |                   |\n|              \
        \      |                    |                     |                      \
        \ |                    | shelter:175               |                     \
        \ |                            | locomotive:235          | horse_riding:275\
        \               |                   |                      |             \
        \     | caf?:435                  |                    | ferry_terminal:595\
        \         |                   |\n|                    |                  \
        \  |                     |                       |                    | shower:176\
        \                |                      |                            | manor:236\
        \               | ice_ring:276                   |                   |   \
        \                   |                  | camera:436                |     \
        \               | fuel:596                   |                   |\n|    \
        \                |                    |                     |            \
        \           |                    | table:177                 |           \
        \           |                            | memorial:237            | marina:277\
        \                     |                   |                      |       \
        \           | candles:437               |                    | halt:597  \
        \                 |                   |\n|                    |          \
        \          |                     |                       |               \
        \     | telephone:178             |                      |               \
        \             | milestone:238           | miniature_golf:278             |\
        \                   |                      |                  | car:438  \
        \                 |                    | helipad:598                |    \
        \               |\n|                    |                    |           \
        \          |                       |                    | toilets:179    \
        \           |                      |                            | monastery:239\
        \           | nature_reserve:279             |                   |       \
        \               |                  | car_parts:439             |         \
        \           | heliport:599               |                   |\n|        \
        \            |                    |                     |                \
        \       |                    | waste_basket:180          |               \
        \       |                            | monument:240            | park:280\
        \                       |                   |                      |     \
        \             | carpet:440                |                    | motorcycle_parking:600\
        \     |                   |\n|                    |                    | \
        \                    |                       |                    | waste_disposal:181\
        \        |                      |                            | optical_telegraph:241\
        \   | picnic_table:281               |                   |               \
        \       |                  | curtain:441               |                 \
        \   | parking:601                |                   |\n|                \
        \    |                    |                     |                       |\
        \                    | water_point:182           |                      |\
        \                            | pillory:242             | pitch:282       \
        \               |                   |                      |             \
        \     | cheese:442                |                    | parking_entrance:602\
        \       |                   |\n|                    |                    |\
        \                     |                       |                    |     \
        \                      |                      |                          \
        \  | ruins:243               | playground:283                 |          \
        \         |                      |                  | chemist:443        \
        \       |                    | parking_space:603          |              \
        \     |\n|                    |                    |                     |\
        \                       |                    |                           |\
        \                      |                            | rune_stone:244     \
        \     | raceway:284                    |                   |             \
        \         |                  | chocolate:444             |               \
        \     | station:604                |                   |\n|              \
        \      |                    |                     |                      \
        \ |                    |                           |                     \
        \ |                            | ship:245                | public_bath:285\
        \                |                   |                      |            \
        \      | clock:445                 |                    | tram_stop:605  \
        \            |                   |\n|                    |               \
        \     |                     |                       |                    |\
        \                           |                      |                     \
        \       | tomb:246                | sauna:286                      |     \
        \              |                      |                  | clocks:446    \
        \            |                    | taxi:606                   |         \
        \          |\n|                    |                    |                \
        \     |                       |                    |                     \
        \      |                      |                            | wayside_cross:247\
        \       | slipway:287                    |                   |           \
        \           |                  | clothes:447               |             \
        \       |                            |                   |\n|            \
        \        |                    |                     |                    \
        \   |                    |                           |                   \
        \   |                            | wayside_shrine:248      | sports_centre:288\
        \              |                   |                      |              \
        \    | coffee:448                |                    |                  \
        \          |                   |\n|                    |                 \
        \   |                     |                       |                    | \
        \                          |                      |                      \
        \      | wreck:249               | stadium:289                    |      \
        \             |                      |                  | computer:449   \
        \           |                    |                            |          \
        \         |\n|                    |                    |                 \
        \    |                       |                    |                      \
        \     |                      |                            |              \
        \           | summer_camp:290                |                   |       \
        \               |                  | confectionery:450         |         \
        \           |                            |                   |\n|        \
        \            |                    |                     |                \
        \       |                    |                           |               \
        \       |                            |                         | swimming_area:291\
        \              |                   |                      |              \
        \    | convenience:451           |                    |                  \
        \          |                   |\n|                    |                 \
        \   |                     |                       |                    | \
        \                          |                      |                      \
        \      |                         | swimming_pool:292              |      \
        \             |                      |                  | copyshop:452   \
        \           |                    |                            |          \
        \         |\n|                    |                    |                 \
        \    |                       |                    |                      \
        \     |                      |                            |              \
        \           | track:293                      |                   |       \
        \               |                  | cosmetics:453             |         \
        \           |                            |                   |\n|        \
        \            |                    |                     |                \
        \       |                    |                           |               \
        \       |                            |                         | turkish_bath:294\
        \               |                   |                      |             \
        \     | dairy:454                 |                    |                 \
        \           |                   |\n|                    |                \
        \    |                     |                       |                    |\
        \                           |                      |                     \
        \       |                         | water_park:295                 |     \
        \              |                      |                  | deli:455      \
        \            |                    |                            |         \
        \          |\n|                    |                    |                \
        \     |                       |                    |                     \
        \      |                      |                            |             \
        \            | wildlife_hide:296              |                   |      \
        \                |                  | department_store:456      |        \
        \            |                            |                   |\n|       \
        \             |                    |                     |               \
        \        |                    |                           |              \
        \        |                            |                         | brothel:297\
        \                    |                   |                      |        \
        \          | doityourself:457          |                    |            \
        \                |                   |\n|                    |           \
        \         |                     |                       |                \
        \    |                           |                      |                \
        \            |                         | casino:298                     |\
        \                   |                      |                  | electrical:458\
        \            |                    |                            |         \
        \          |\n|                    |                    |                \
        \     |                       |                    |                     \
        \      |                      |                            |             \
        \            | cinema:299                     |                   |      \
        \                |                  | electronics:459           |        \
        \            |                            |                   |\n|       \
        \             |                    |                     |               \
        \        |                    |                           |              \
        \        |                            |                         | dive_centre:300\
        \                |                   |                      |            \
        \      | erotic:460                |                    |                \
        \            |                   |\n|                    |               \
        \     |                     |                       |                    |\
        \                           |                      |                     \
        \       |                         | dojo:301                       |     \
        \              |                      |                  | e-cigarette:461\
        \           |                    |                            |          \
        \         |\n|                    |                    |                 \
        \    |                       |                    |                      \
        \     |                      |                            |              \
        \           | gambling:302                   |                   |       \
        \               |                  | farm:462                  |         \
        \           |                            |                   |\n|        \
        \            |                    |                     |                \
        \       |                    |                           |               \
        \       |                            |                         | nightclub:303\
        \                  |                   |                      |          \
        \        | fashion:463               |                    |              \
        \              |                   |\n|                    |             \
        \       |                     |                       |                  \
        \  |                           |                      |                  \
        \          |                         | planetarium:304                |  \
        \                 |                      |                  | fishing:464\
        \               |                    |                            |      \
        \             |\n|                    |                    |             \
        \        |                       |                    |                  \
        \         |                      |                            |          \
        \               | social_centre:305              |                   |   \
        \                   |                  | florist:465               |     \
        \               |                            |                   |\n|    \
        \                |                    |                     |            \
        \           |                    |                           |           \
        \           |                            |                         | spa:306\
        \                        |                   |                      |    \
        \              | funeral_directors:466     |                    |        \
        \                    |                   |\n|                    |       \
        \             |                     |                       |            \
        \        |                           |                      |            \
        \                |                         | stripclub:307               \
        \   |                   |                      |                  | furniture:467\
        \             |                    |                            |        \
        \           |\n|                    |                    |               \
        \      |                       |                    |                    \
        \       |                      |                            |            \
        \             | aquarium:308                   |                   |     \
        \                 |                  | games:468                 |       \
        \             |                            |                   |\n|      \
        \              |                    |                     |              \
        \         |                    |                           |             \
        \         |                            |                         | theme_park:309\
        \                 |                   |                      |           \
        \       | garden_centre:469         |                    |               \
        \             |                   |\n|                    |              \
        \      |                     |                       |                   \
        \ |                           |                      |                   \
        \         |                         | zoo:310                        |   \
        \                |                      |                  | garden_furniture:470\
        \      |                    |                            |               \
        \    |\n|                    |                    |                     |\
        \                       |                    |                           |\
        \                      |                            |                    \
        \     |                                |                   |             \
        \         |                  | gas:471                   |               \
        \     |                            |                   |\n|              \
        \      |                    |                     |                      \
        \ |                    |                           |                     \
        \ |                            |                         |               \
        \                 |                   |                      |           \
        \       | general:472               |                    |               \
        \             |                   |\n|                    |              \
        \      |                     |                       |                   \
        \ |                           |                      |                   \
        \         |                         |                                |   \
        \                |                      |                  | gift:473    \
        \              |                    |                            |       \
        \            |\n|                    |                    |              \
        \       |                       |                    |                   \
        \        |                      |                            |           \
        \              |                                |                   |    \
        \                  |                  | greengrocer:474           |      \
        \              |                            |                   |\n|     \
        \               |                    |                     |             \
        \          |                    |                           |            \
        \          |                            |                         |      \
        \                          |                   |                      |  \
        \                | grocery:475               |                    |      \
        \                      |                   |\n|                    |     \
        \               |                     |                       |          \
        \          |                           |                      |          \
        \                  |                         |                           \
        \     |                   |                      |                  | interior_decoration:476\
        \   |                    |                            |                  \
        \ |\n|                    |                    |                     |   \
        \                    |                    |                           |  \
        \                    |                            |                      \
        \   |                                |                   |               \
        \       |                  | hairdresser_supply:477    |                 \
        \   |                            |                   |\n|                \
        \    |                    |                     |                       |\
        \                    |                           |                      |\
        \                            |                         |                 \
        \               |                   |                      |             \
        \     | hardware:478              |                    |                 \
        \           |                   |\n|                    |                \
        \    |                     |                       |                    |\
        \                           |                      |                     \
        \       |                         |                                |     \
        \              |                      |                  | hearing_aids:479\
        \          |                    |                            |           \
        \        |\n|                    |                    |                  \
        \   |                       |                    |                       \
        \    |                      |                            |               \
        \          |                                |                   |        \
        \              |                  | herbalist:480             |          \
        \          |                            |                   |\n|         \
        \           |                    |                     |                 \
        \      |                    |                           |                \
        \      |                            |                         |          \
        \                      |                   |                      |      \
        \            | hifi:481                  |                    |          \
        \                  |                   |\n|                    |         \
        \           |                     |                       |              \
        \      |                           |                      |              \
        \              |                         |                               \
        \ |                   |                      |                  | houseware:482\
        \             |                    |                            |        \
        \           |\n|                    |                    |               \
        \      |                       |                    |                    \
        \       |                      |                            |            \
        \             |                                |                   |     \
        \                 |                  | hunting:483               |       \
        \             |                            |                   |\n|      \
        \              |                    |                     |              \
        \         |                    |                           |             \
        \         |                            |                         |       \
        \                         |                   |                      |   \
        \               | jewelry:485               |                    |       \
        \                     |                   |\n|                    |      \
        \              |                     |                       |           \
        \         |                           |                      |           \
        \                 |                         |                            \
        \    |                   |                      |                  | leather:486\
        \               |                    |                            |      \
        \             |\n|                    |                    |             \
        \        |                       |                    |                  \
        \         |                      |                            |          \
        \               |                                |                   |   \
        \                   |                  | locksmith:487             |     \
        \               |                            |                   |\n|    \
        \                |                    |                     |            \
        \           |                    |                           |           \
        \           |                            |                         |     \
        \                           |                   |                      | \
        \                 | kiosk:488                 |                    |     \
        \                       |                   |\n|                    |    \
        \                |                     |                       |         \
        \           |                           |                      |         \
        \                   |                         |                          \
        \      |                   |                      |                  | kitchen:489\
        \               |                    |                            |      \
        \             |\n|                    |                    |             \
        \        |                       |                    |                  \
        \         |                      |                            |          \
        \               |                                |                   |   \
        \                   |                  | lamps:490                 |     \
        \               |                            |                   |\n|    \
        \                |                    |                     |            \
        \           |                    |                           |           \
        \           |                            |                         |     \
        \                           |                   |                      | \
        \                 | lottery:491               |                    |     \
        \                       |                   |\n|                    |    \
        \                |                     |                       |         \
        \           |                           |                      |         \
        \                   |                         |                          \
        \      |                   |                      |                  | mall:492\
        \                  |                    |                            |   \
        \                |\n|                    |                    |          \
        \           |                       |                    |               \
        \            |                      |                            |       \
        \                  |                                |                   |\
        \                      |                  | marketplace:493           |  \
        \                  |                            |                   |\n| \
        \                   |                    |                     |         \
        \              |                    |                           |        \
        \              |                            |                         |  \
        \                              |                   |                     \
        \ |                  | medical_supply:494        |                    |  \
        \                          |                   |\n|                    | \
        \                   |                     |                       |      \
        \              |                           |                      |      \
        \                      |                         |                       \
        \         |                   |                      |                  |\
        \ mobile_phone:495          |                    |                       \
        \     |                   |\n|                    |                    | \
        \                    |                       |                    |      \
        \                     |                      |                           \
        \ |                         |                                |           \
        \        |                      |                  | model:496           \
        \      |                    |                            |               \
        \    |\n|                    |                    |                     |\
        \                       |                    |                           |\
        \                      |                            |                    \
        \     |                                |                   |             \
        \         |                  | motorcycle:497            |               \
        \     |                            |                   |\n|              \
        \      |                    |                     |                      \
        \ |                    |                           |                     \
        \ |                            |                         |               \
        \                 |                   |                      |           \
        \       | music:498                 |                    |               \
        \             |                   |\n|                    |              \
        \      |                     |                       |                   \
        \ |                           |                      |                   \
        \         |                         |                                |   \
        \                |                      |                  | musical_instrument:499\
        \    |                    |                            |                 \
        \  |\n|                    |                    |                     |  \
        \                     |                    |                           | \
        \                     |                            |                     \
        \    |                                |                   |              \
        \        |                  | nutrition_supplements:500 |                \
        \    |                            |                   |\n|               \
        \     |                    |                     |                       |\
        \                    |                           |                      |\
        \                            |                         |                 \
        \               |                   |                      |             \
        \     | newsagent:501             |                    |                 \
        \           |                   |\n|                    |                \
        \    |                     |                       |                    |\
        \                           |                      |                     \
        \       |                         |                                |     \
        \              |                      |                  | optician:502  \
        \            |                    |                            |         \
        \          |\n|                    |                    |                \
        \     |                       |                    |                     \
        \      |                      |                            |             \
        \            |                                |                   |      \
        \                |                  | organic:503               |        \
        \            |                            |                   |\n|       \
        \             |                    |                     |               \
        \        |                    |                           |              \
        \        |                            |                         |        \
        \                        |                   |                      |    \
        \              | outdoor:504               |                    |        \
        \                    |                   |\n|                    |       \
        \             |                     |                       |            \
        \        |                           |                      |            \
        \                |                         |                             \
        \   |                   |                      |                  | paint:505\
        \                 |                    |                            |    \
        \               |\n|                    |                    |           \
        \          |                       |                    |                \
        \           |                      |                            |        \
        \                 |                                |                   | \
        \                     |                  | pastry:506                |   \
        \                 |                            |                   |\n|  \
        \                  |                    |                     |          \
        \             |                    |                           |         \
        \             |                            |                         |   \
        \                             |                   |                      |\
        \                  | perfumery:507             |                    |    \
        \                        |                   |\n|                    |   \
        \                 |                     |                       |        \
        \            |                           |                      |        \
        \                    |                         |                         \
        \       |                   |                      |                  | photo:508\
        \                 |                    |                            |    \
        \               |\n|                    |                    |           \
        \          |                       |                    |                \
        \           |                      |                            |        \
        \                 |                                |                   | \
        \                     |                  | pyrotechnics:509          |   \
        \                 |                            |                   |\n|  \
        \                  |                    |                     |          \
        \             |                    |                           |         \
        \             |                            |                         |   \
        \                             |                   |                      |\
        \                  | radiotechnics:510         |                    |    \
        \                        |                   |\n|                    |   \
        \                 |                     |                       |        \
        \            |                           |                      |        \
        \                    |                         |                         \
        \       |                   |                      |                  | seefood:511\
        \               |                    |                            |      \
        \             |\n|                    |                    |             \
        \        |                       |                    |                  \
        \         |                      |                            |          \
        \               |                                |                   |   \
        \                   |                  | second_hand:512           |     \
        \               |                            |                   |\n|    \
        \                |                    |                     |            \
        \           |                    |                           |           \
        \           |                            |                         |     \
        \                           |                   |                      | \
        \                 | security:513              |                    |     \
        \                       |                   |\n|                    |    \
        \                |                     |                       |         \
        \           |                           |                      |         \
        \                   |                         |                          \
        \      |                   |                      |                  | shoes:514\
        \                 |                    |                            |    \
        \               |\n|                    |                    |           \
        \          |                       |                    |                \
        \           |                      |                            |        \
        \                 |                                |                   | \
        \                     |                  | spices:515                |   \
        \                 |                            |                   |\n|  \
        \                  |                    |                     |          \
        \             |                    |                           |         \
        \             |                            |                         |   \
        \                             |                   |                      |\
        \                  | sports:516                |                    |    \
        \                        |                   |\n|                    |   \
        \                 |                     |                       |        \
        \            |                           |                      |        \
        \                    |                         |                         \
        \       |                   |                      |                  | stationery:517\
        \            |                    |                            |         \
        \          |\n|                    |                    |                \
        \     |                       |                    |                     \
        \      |                      |                            |             \
        \            |                                |                   |      \
        \                |                  | supermarket:518           |        \
        \            |                            |                   |\n|       \
        \             |                    |                     |               \
        \        |                    |                           |              \
        \        |                            |                         |        \
        \                        |                   |                      |    \
        \              | swimming_pool:519         |                    |        \
        \                    |                   |\n|                    |       \
        \             |                     |                       |            \
        \        |                           |                      |            \
        \                |                         |                             \
        \   |                   |                      |                  | tea:520\
        \                   |                    |                            |  \
        \                 |\n|                    |                    |         \
        \            |                       |                    |              \
        \             |                      |                            |      \
        \                   |                                |                   |\
        \                      |                  | ticket:521                |  \
        \                  |                            |                   |\n| \
        \                   |                    |                     |         \
        \              |                    |                           |        \
        \              |                            |                         |  \
        \                              |                   |                     \
        \ |                  | tiles:522                 |                    |  \
        \                          |                   |\n|                    | \
        \                   |                     |                       |      \
        \              |                           |                      |      \
        \                      |                         |                       \
        \         |                   |                      |                  |\
        \ tobacco:523               |                    |                       \
        \     |                   |\n|                    |                    | \
        \                    |                       |                    |      \
        \                     |                      |                           \
        \ |                         |                                |           \
        \        |                      |                  | toys:524            \
        \      |                    |                            |               \
        \    |\n|                    |                    |                     |\
        \                       |                    |                           |\
        \                      |                            |                    \
        \     |                                |                   |             \
        \         |                  | trophy:525                |               \
        \     |                            |                   |\n|              \
        \      |                    |                     |                      \
        \ |                    |                           |                     \
        \ |                            |                         |               \
        \                 |                   |                      |           \
        \       | tyres:526                 |                    |               \
        \             |                   |\n|                    |              \
        \      |                     |                       |                   \
        \ |                           |                      |                   \
        \         |                         |                                |   \
        \                |                      |                  | variety_store:527\
        \         |                    |                            |            \
        \       |\n|                    |                    |                   \
        \  |                       |                    |                        \
        \   |                      |                            |                \
        \         |                                |                   |         \
        \             |                  | vending_machine:528       |           \
        \         |                            |                   |\n|          \
        \          |                    |                     |                  \
        \     |                    |                           |                 \
        \     |                            |                         |           \
        \                     |                   |                      |       \
        \           | video:529                 |                    |           \
        \                 |                   |\n|                    |          \
        \          |                     |                       |               \
        \     |                           |                      |               \
        \             |                         |                                |\
        \                   |                      |                  | video_games:530\
        \           |                    |                            |          \
        \         |\n|                    |                    |                 \
        \    |                       |                    |                      \
        \     |                      |                            |              \
        \           |                                |                   |       \
        \               |                  | watches:531               |         \
        \           |                            |                   |\n|        \
        \            |                    |                     |                \
        \       |                    |                           |               \
        \       |                            |                         |         \
        \                       |                   |                      |     \
        \             | weapons:532               |                    |         \
        \                   |                   |\n|                    |        \
        \            |                     |                       |             \
        \       |                           |                      |             \
        \               |                         |                              \
        \  |                   |                      |                  | wine:533\
        \                  |                    |                            |   \
        \                |\n- name: locations\n  in: query\n  description: |\n   \
        \ List of longitude, latitude coordinates delimited with pipe.\n  required:\
        \ true\n  type: number\n  format: 'longitude,latitude'\n- name: profile\n\
        \  in: query\n  description: Specifies the routing profile.\n  type: string\n\
        \  default: driving-car\n  enum:\n    - driving-car\n    - driving-hgv\n \
        \   - cycling-regular\n    - cycling-road\n    - cycling-safe\n    - cycling-mountain\n\
        \    - cycling-tour\n    - foot-walking\n    - foot-hiking\n- name: range_type\n\
        \  in: query\n  description: |\n    Set _time_ for isochrones or _distance_\
        \ for equidistants.\n  type: string\n  default: time\n- name: range\n  in:\
        \ query\n  description: >\n    Maximum range value of the analysis in seconds\
        \ for time and meters\n    for distance. Alternatively a comma separated list\
        \ of specific\n    single range values.\n  required: true\n  type: number\n\
        \  format: double\n- name: interval\n  in: query\n  description: >\n    Interval\
        \ of isochrones or equidistants for one range value. value in\n    seconds\
        \ for time and meters for distance.\n  type: number\n  format: double\n- name:\
        \ units\n  in: query\n  description: |\n    Unit format.\n  type: string\n\
        \  default: m\n  enum:\n    - m\n    - km\n    - mi\n    - s\n- name: location_type\n\
        \  in: query\n  description: >\n    start(default) treats the location(s)\
        \ as starting point, destination\n    as goal.\n  type: string\n  default:\
        \ start\n  enum:\n    - start\n    - destination\n- name: attributes\n  in:\
        \ query\n  description: |\n    Values are area and reachfactor. Delimit with\
        \ pipe for both.\n  type: array\n  items:\n    type: string\n    enum:\n \
        \     - area\n      - reachfactor\n  collectionFormat: pipes\n  uniqueItems:\
        \ true\n- name: options\n  in: query\n  description: >\n    For advanced options\
        \ formatted as JSON. Add object as string:\n    \"{...}\".\n  type: string\n\
        - name: intersections\n  in: query\n  description: |\n    Specifies whether\
        \ to return intersection polygons.\n  type: boolean\n  default: false\n- name:\
        \ id\n  in: query\n  description: >-\n    Arbitrary identification string\
        \ of the request reflected in the meta\n    information.\n  type: string\n"
      parameters: []
      responses:
        200:
          description: "Standard response for successfully processed requests. Returns\
            \ JSON."
          schema:
            type: "array"
            items:
              $ref: "#/definitions/IsochronesResponse"
        400:
          description: "The request is incorrect and therefore can not be processed."
          schema:
            type: "array"
            items:
              $ref: "#/definitions/error"
        401:
          description: "Authorization field missing."
        403:
          description: "Access to this API has been disallowed."
        405:
          description: "The specified HTTP method is not supported. For more details,\
            \ refer to the EndPoint documentation."
        413:
          description: "The request is larger than the server is able to process,\
            \ the data provided in the request exceeds the capacity limit."
        500:
          description: "An unexpected error was encountered and more detailed internal\
            \ error\ncode is provided.\n\n| Internal Code | Description          \
            \                              |\n|:-------------:|----------------------------------------------------|\n\
            |      300      | Unable to parse JSON request.                      |\n\
            |      301      | Required parameter is missing.                     |\n\
            |      302      | Invalid parameter format.                          |\n\
            |      303      | Invalid parameter value.                           |\n\
            |      304      | Parameter value exceeds the maximum allowed limit. |\n\
            |      305      | PRequested feature is not supported.               |\n\
            |      399      | Unknown internal error.                            |\n"
        501:
          description: "Indicates that the server does not support the functionality\
            \ needed to fulfill the request."
        503:
          description: "The server is currently unavailable due to overload or maintenance."
  /places:
    get:
      summary: "Location Service"
      description: "Returns Points of Interest in the area surrounding a geometry.\
        \ Use the post endpoint for requests that exceed the get character limit.\n"
      parameters:
      - name: "request"
        in: "query"
        description: "`pois` will return POI geometry as well as requested details.\
          \ `category_stats` returns a POI count for each requested category. `category_list`\
          \ returns a list of all categories. (only the id parameter will be considered)\n"
        required: true
        type: "string"
        enum:
        - "pois"
        - "category_stats"
        - "category_list"
      - name: "category_group_ids"
        in: "query"
        description: "Comma seperated list of category group ids.\n"
        required: false
        type: "string"
      - name: "category_ids"
        in: "query"
        description: "Comma seperated list of category ids.\n"
        required: false
        type: "string"
      - name: "name"
        in: "query"
        description: "Name to filter the POIs by.\n"
        required: false
        type: "string"
      - name: "wheelchair"
        in: "query"
        description: "Filter returned features by wheelchair tag entries.\n"
        required: false
        type: "string"
        enum:
        - "true"
        - "false"
        - "limited"
      - name: "smoking"
        in: "query"
        description: "Filter returned features by wheelchair tag entries.\n"
        required: false
        type: "string"
        enum:
        - "true"
        - "false"
      - name: "fee"
        in: "query"
        description: "Filter returned features by fee tag entries.\n"
        required: false
        type: "string"
        enum:
        - "true"
        - "false"
      - name: "bbox"
        in: "query"
        description: "Defines a clipping bounding box\n"
        required: false
        type: "array"
        items:
          type: "number"
          format: "double"
        collectionFormat: "csv"
        maxItems: 4
        minItems: 4
      - name: "geometry"
        in: "query"
        description: "GeoJSON geometry object (Point, Linestring or Polygon)\n"
        required: false
        type: "string"
      - name: "radius"
        in: "query"
        description: "Search radius in meters around the given (might be limited in\
          \ the backend)\n"
        required: true
        type: "number"
        maximum: 1000
        minimum: 0
        format: "double"
      - name: "limit"
        in: "query"
        description: "Maximum number of returned objects (might be limited in the\
          \ backend)\n"
        required: false
        type: "integer"
        format: "int64"
      - name: "sortby"
        in: "query"
        description: "Sorts the returned features by _distance_ or _category_.\n"
        required: false
        type: "string"
        enum:
        - "distance"
        - "category"
      - name: "details"
        in: "query"
        description: "Pipe seperated list of desired details.\n"
        required: false
        type: "array"
        items:
          type: "string"
          enum:
          - "address"
          - "contact"
          - "attributes"
        collectionFormat: "pipes"
        uniqueItems: true
      - name: "id"
        in: "query"
        description: "Arbitrary identification string of the request reflected in\
          \ the meta information."
        required: false
        type: "string"
      responses:
        200:
          description: "Standard response for successfully processed requests. Returns\
            \ JSON."
          schema:
            type: "array"
            items:
              $ref: "#/definitions/LocationsPoiResponse"
        400:
          description: "The request is incorrect and therefore can not be processed."
          schema:
            type: "array"
            items:
              $ref: "#/definitions/error"
        401:
          description: "Authorization field missing."
        403:
          description: "Access to this API has been disallowed."
        405:
          description: "The specified HTTP method is not supported. For more details,\
            \ refer to the EndPoint documentation."
        413:
          description: "The request is larger than the server is able to process,\
            \ the data provided in the request exceeds the capacity limit."
        500:
          description: "An unexpected error was encountered and more detailed internal\
            \ error\ncode is provided.\n\n| Internal Code | Description          \
            \                              |\n|:-------------:|----------------------------------------------------|\n\
            |      400      | Unable to parse JSON request.                      |\n\
            |      401      | Required parameter is missing.                     |\n\
            |      402      | Invalid parameter format.                          |\n\
            |      403      | Invalid parameter value.                           |\n\
            |      404      | Parameter value exceeds the maximum allowed limit. |\n\
            |      499      | Unknown internal error.                            |\n"
        501:
          description: "Indicates that the server does not support the functionality\
            \ needed to fulfill the request."
        503:
          description: "The server is currently unavailable due to overload or maintenance."
    post:
      summary: "Location Service"
      description: "Returns Points of Interest in the area surrounding a geometry.\n"
      parameters:
      - in: "body"
        name: "body"
        description: "this is body"
        required: false
        schema:
          $ref: "#/definitions/body"
      responses:
        200:
          description: "Standard response for successfully processed requests. Returns\
            \ JSON."
          schema:
            type: "array"
            items:
              $ref: "#/definitions/LocationsPoiResponse"
        400:
          description: "The request is incorrect and therefore can not be processed."
          schema:
            type: "array"
            items:
              $ref: "#/definitions/error"
        401:
          description: "Authorization field missing."
        403:
          description: "Access to this API has been disallowed."
        405:
          description: "The specified HTTP method is not supported. For more details,\
            \ refer to the EndPoint documentation."
        413:
          description: "The request is larger than the server is able to process,\
            \ the data provided in the request exceeds the capacity limit."
        500:
          description: "An unexpected error was encountered and more detailed internal\
            \ error\ncode is provided.\n\n| Internal Code | Description          \
            \                              |\n|:-------------:|----------------------------------------------------|\n\
            |      400      | Unable to parse JSON request.                      |\n\
            |      401      | Required parameter is missing.                     |\n\
            |      402      | Invalid parameter format.                          |\n\
            |      403      | Invalid parameter value.                           |\n\
            |      404      | Parameter value exceeds the maximum allowed limit. |\n\
            |      499      | Unknown internal error.                            |\n"
        501:
          description: "Indicates that the server does not support the functionality\
            \ needed to fulfill the request."
        503:
          description: "The server is currently unavailable due to overload or maintenance."
securityDefinitions:
  UserSecurity:
    description: "Add your API Key as the value of the *api_key* parameter to your\
      \ GET\nrequest. (In this Demo you can click the Authentication Button.)\n"
    type: "apiKey"
    name: "api_key"
    in: "query"
definitions:
  options:
    type: "object"
    properties:
      maximum_speed:
        type: "integer"
        format: "int64"
      avoid_features:
        type: "array"
        uniqueItems: true
        items:
          type: "string"
          enum:
          - "highways"
          - "tollways"
          - "ferries"
          - "tunnels"
          - "pavedroads"
          - "unpavedroads"
          - "tracks"
          - "fords"
          - "steps"
          - "hills"
      vehicle_type:
        type: "string"
        description: "Parameter for the driving-hgv Profile"
        enum:
        - "hgv"
        - "bus"
        - "agricultural"
        - "foresty"
        - "goods"
        - "delivery"
        default: "hgv"
      profile_params:
        $ref: "#/definitions/options_profile_params"
      avoid_polygons:
        $ref: "#/definitions/options_avoid_polygons"
    example:
      maximum_speed: 12
      avoid_features:
      - "hills"
      - "ferries"
      - "tollways"
      profile_params:
        difficulty_level: 2
        maximum_gradient: 13
      avoid_polygons:
        type: "Polygon"
        coordinates:
        - - - 100
            - 0
          - - 101
            - 0
          - - 101
            - 1
          - - 100
            - 1
          - - 100
            - 0
  Routeresponse:
    properties:
      routes:
        type: "array"
        items:
          $ref: "#/definitions/Routeresponse_routes"
      info:
        $ref: "#/definitions/Routeresponse_info"
    title: "Route Response Object"
  Routeresponse_routes:
    properties:
      summary:
        $ref: "#/definitions/routes_summary"
      bbox:
        type: "array"
        description: "TBD"
        items:
          type: "number"
          format: "double"
        maxItems: 4
        minItems: 4
      geometry:
        type: "string"
        description: "TBD"
      segments:
        type: "array"
        description: "TBD"
        items:
          $ref: "#/definitions/segments"
        maxItems: 1
      way_points:
        type: "array"
        description: "TBD"
        items:
          type: "integer"
          format: "int64"
        maxItems: 2
        minItems: 2
    title: "routes object"
  routes_summary:
    properties:
      duration:
        type: "number"
        format: "double"
        description: "TBD"
      distance_actual:
        type: "number"
        format: "double"
        description: "TBD"
      distance:
        type: "number"
        format: "double"
        description: "TBD"
    title: "summary object"
    description: "TBD"
  segments:
    properties:
      duration:
        type: "number"
        format: "double"
        description: "TBD"
      distance:
        type: "number"
        format: "double"
        description: "TBD"
      steps:
        type: "array"
        description: "TBD"
        items:
          $ref: "#/definitions/steps"
    title: "segments object"
    description: "TBD"
  steps:
    properties:
      duration:
        type: "number"
        format: "double"
        description: "TBD"
      distance:
        type: "number"
        format: "double"
        description: "TBD"
      instruction:
        type: "string"
        description: "TBD"
      name:
        type: "string"
        description: "TBD"
      type:
        type: "integer"
        format: "int64"
      way_points:
        type: "array"
        description: "TBD"
        items:
          type: "integer"
          format: "int64"
        maxItems: 2
        minItems: 2
    title: "steps object"
  Routeresponse_info:
    properties:
      service:
        type: "string"
        description: "TBD"
      query:
        $ref: "#/definitions/Routeresponse_info_query"
      attribution:
        type: "string"
      version:
        type: "string"
      timestamp:
        type: "integer"
        format: "int64"
    title: "info object"
    description: "TBD"
  Routeresponse_info_query:
    required:
    - "coordinates"
    - "geometry_format"
    - "profile"
    properties:
      geometry_format:
        type: "string"
      profile:
        type: "string"
      coordinates:
        type: "array"
        items:
          type: "array"
          items:
            type: "number"
            format: "double"
          maxItems: 2
          minItems: 2
        minItems: 2
    title: "query object"
    description: "TBD"
  Geocoderesponse:
    properties:
      features:
        type: "array"
        items:
          $ref: "#/definitions/Geocoderesponse_features"
      bbox:
        type: "array"
        description: "TBD"
        items:
          type: "number"
          format: "double"
        maxItems: 4
        minItems: 4
      type:
        type: "string"
      info:
        $ref: "#/definitions/Geocoderesponse_info"
    title: "Geocode Response Object"
  Geocoderesponse_features:
    properties:
      geometry:
        $ref: "#/definitions/Geocoderesponse_geometry"
      type:
        type: "string"
      properties:
        $ref: "#/definitions/Geocoderesponse_properties"
    title: "features object"
  Geocoderesponse_geometry:
    properties:
      coordinates:
        type: "array"
        items:
          type: "number"
          format: "double"
          description: "TBD"
        maxItems: 2
        minItems: 2
      type:
        type: "string"
    title: "geometry object"
    description: "TBD"
  Geocoderesponse_properties:
    properties:
      country:
        type: "string"
      street:
        type: "string"
      name:
        type: "string"
      house_number:
        type: "string"
      state:
        type: "string"
      postal_code:
        type: "string"
    title: "porperties object"
  Geocoderesponse_info:
    properties:
      service:
        type: "string"
      query:
        $ref: "#/definitions/Geocoderesponse_info_query"
      attribution:
        type: "string"
      version:
        type: "string"
      timestamp:
        type: "integer"
        format: "int64"
    title: "info object"
  Geocoderesponse_info_query:
    properties:
      query:
        type: "string"
      limit:
        type: "integer"
        format: "int64"
    title: "query object"
  Reversegeocoderesponse:
    properties:
      type:
        type: "string"
        default: "FeatureCollection"
      features:
        type: "array"
        items:
          $ref: "#/definitions/Reversegeocoderesponse_features"
      bbox:
        type: "array"
        description: "TBD"
        items:
          type: "number"
          format: "double"
        maxItems: 4
        minItems: 4
      info:
        $ref: "#/definitions/Reversegeocoderesponse_info"
    title: "Reverse Geocode Response Object"
  Reversegeocoderesponse_features:
    properties:
      type:
        type: "string"
        default: "Feature"
      geometry:
        $ref: "#/definitions/Reversegeocoderesponse_geometry"
      properties:
        $ref: "#/definitions/Reversegeocoderesponse_properties"
    title: "features object"
  Reversegeocoderesponse_geometry:
    properties:
      type:
        type: "string"
        default: "Point"
      coordinates:
        type: "array"
        items:
          type: "number"
          format: "double"
        maxItems: 2
        minItems: 2
    title: "geometry object"
  Reversegeocoderesponse_properties:
    properties:
      country:
        type: "string"
      state:
        type: "string"
      city:
        type: "string"
      name:
        type: "string"
      distance:
        type: "string"
      confidence:
        type: "string"
    title: "porperties object"
  Reversegeocoderesponse_info:
    properties:
      service:
        type: "string"
        default: "geocoding"
      query:
        $ref: "#/definitions/Reversegeocoderesponse_info_query"
      attribution:
        type: "string"
      version:
        type: "string"
      timestamp:
        type: "integer"
        format: "int64"
    title: "info object"
  Reversegeocoderesponse_info_query:
    properties:
      limit:
        type: "integer"
        format: "int64"
      location:
        type: "array"
        items:
          type: "number"
          format: "double"
        maxItems: 2
        minItems: 2
    title: "query object"
  IsochronesResponse:
    type: "object"
    properties:
      features:
        type: "array"
        items:
          $ref: "#/definitions/IsochronesResponse_features"
      bbox:
        type: "array"
        items:
          type: "number"
          format: "double"
        maxItems: 4
        minItems: 4
      type:
        type: "string"
        default: "FeatureCollection"
      info:
        $ref: "#/definitions/IsochronesResponse_info"
    title: "Isochrones Response Object"
  IsochronesResponse_features:
    properties:
      geometry:
        $ref: "#/definitions/IsochronesResponse_geometry"
      type:
        type: "string"
        default: "Feature"
      properties:
        $ref: "#/definitions/IsochronesResponse_properties"
    title: "features object"
  IsochronesResponse_geometry:
    properties:
      coordinates:
        type: "array"
        items:
          type: "array"
          items:
            type: "number"
            format: "double"
      type:
        type: "string"
        default: "Polygon"
    title: "geometry object"
  IsochronesResponse_properties:
    properties:
      center:
        type: "array"
        items:
          type: "number"
          format: "double"
        maxItems: 2
        minItems: 2
      group_index:
        type: "integer"
        format: "int64"
      value:
        type: "integer"
        format: "int64"
    title: "porperties object"
  IsochronesResponse_info:
    properties:
      service:
        type: "string"
      query:
        $ref: "#/definitions/IsochronesResponse_info_query"
      attribution:
        type: "string"
      version:
        type: "string"
      timestamp:
        type: "integer"
        format: "int64"
    title: "info object"
  IsochronesResponse_info_query:
    properties:
      mode:
        type: "string"
      rangetype:
        type: "string"
      range:
        type: "integer"
        format: "int64"
      interval:
        type: "integer"
        format: "int64"
      locations:
        type: "array"
        items:
          type: "array"
          items:
            type: "number"
            format: "double"
    title: "query object"
  LocationsPoiResponse:
    type: "object"
    properties:
      type:
        type: "string"
        default: "FeatureCollection"
      features:
        type: "array"
        items:
          $ref: "#/definitions/location_features"
      bbox:
        type: "array"
        items:
          type: "number"
          format: "double"
        maxItems: 4
        minItems: 4
      info:
        $ref: "#/definitions/LocationsPoiResponse_info"
    title: "Places Poi Response Object"
  location_features:
    type: "object"
    properties:
      type:
        type: "string"
        default: "Feature"
      geometry:
        $ref: "#/definitions/location_features_geometry"
      properties:
        $ref: "#/definitions/location_features_properties"
    title: "features object"
  location_features_geometry:
    properties:
      type:
        type: "string"
        default: "Point"
      coordinates:
        type: "array"
        items:
          type: "number"
          format: "double"
        maxItems: 2
        minItems: 2
    title: "geometry object"
  location_features_properties:
    properties:
      osm_id:
        type: "string"
      category:
        type: "string"
      name:
        type: "string"
      address:
        type: "string"
      phone:
        type: "string"
      website:
        type: "string"
      opening_hours:
        type: "string"
      wheelchair:
        type: "string"
      distance:
        type: "string"
    title: "properties object"
  LocationsPoiResponse_info:
    properties:
      service:
        type: "string"
      version:
        type: "string"
      attribution:
        type: "string"
      timestamp:
        type: "integer"
        format: "int64"
      query:
        $ref: "#/definitions/LocationsPoiResponse_info_query"
    title: "info object"
  LocationsPoiResponse_info_query:
    properties:
      filter:
        $ref: "#/definitions/LocationsPoiResponse_info_query_filter"
      radius:
        type: "integer"
        format: "int64"
      limit:
        type: "integer"
        format: "int64"
    title: "query object"
  LocationsPoiResponse_info_query_filter:
    properties:
      category_group_ids:
        type: "array"
        items:
          type: "integer"
          format: "int64"
          example: 560
      catoegory_ids:
        type: "array"
        items:
          type: "integer"
          format: "int64"
          example: 561
    title: "filter object"
    description: "Filter the results by `category_group_ids` or `category_ids`. If\
      \ both are specified the *group_ids* take priority."
  body:
    properties:
      filter:
        $ref: "#/definitions/filter"
      details:
        type: "string"
        example: "address|contact|attributes"
        enum:
        - "address"
        - "contact"
        - "attributes"
      limit:
        type: "integer"
        format: "int64"
        example: 1000
      radius:
        type: "integer"
        format: "int64"
        example: 500
      sortby:
        type: "string"
        example: "category"
        enum:
        - "category"
        - "distance"
      bbox:
        type: "string"
        example: "8.165339,47.265966,8.179995,49.214088"
        description: "The pattern for this bbox string is `\"minlon,minlat,maxlon,maxlat\"\
          `"
      geometry:
        $ref: "#/definitions/geometry"
    description: "**You have to specify at least one of** `bbox` **and** `geometry`\
      \ !\n"
  filter:
    properties:
      category_group_ids:
        type: "array"
        items:
          type: "integer"
          format: "int64"
          example: 560
      catoegory_ids:
        type: "array"
        items:
          type: "integer"
          format: "int64"
          example: 561
    title: "filter object"
  geometry:
    description: "The geometry can be either a Point , LineString or Polygon."
    example: "{type: LineString, coordinates:[[8.167426,49.272556],[8.167588,47.272445],[8.168082,47.272105],[8.168224,47.271917],[8.16831,47.271941],[8.168926,47.272216],[8.169054,47.272278],[8.169165,47.272186],[8.169256,47.272103],[8.16948,47.271921],[8.170129,47.271408],[8.170265,47.271295],[8.170701,47.27097],[8.171496,47.270485],[8.171796,47.270296]]}\n"
  error:
    properties:
      error:
        $ref: "#/definitions/error_error"
      info:
        $ref: "#/definitions/error_info"
    title: "STANDARD HTML ERROR"
  error_error:
    properties:
      code:
        type: "integer"
        format: "int32"
      message:
        type: "string"
      fields:
        type: "string"
    title: "error object"
  error_info:
    properties:
      version:
        type: "string"
      timestamp:
        type: "integer"
        format: "int64"
    title: "info object"
  options_profile_params:
    properties:
      length:
        type: "number"
        format: "double"
      width:
        type: "number"
        format: "double"
      height:
        type: "number"
        format: "double"
      axleload:
        type: "number"
        format: "double"
      weight:
        type: "number"
        format: "double"
      hazmat:
        type: "boolean"
      difficulty_level:
        type: "integer"
        format: "int64"
        enum:
        - 0
        - 1
        - 2
        - 3
      maximum_gradient:
        type: "integer"
        format: "int64"
        minimum: 1
        maximum: 15
  options_avoid_polygons:
    properties:
      type:
        type: "string"
        default: "Polygon"
      coordinates:
        type: "array"
        items:
          type: "array"
          items:
            type: "number"
            format: "double"
          maxItems: 2
          minItems: 2
