/*Change the background color of the side bar/top bar in small mode to ORS red*/
.wy-menu-vertical header,.wy-menu-vertical p.caption {
	color:#c34f5f;
}
.wy-side-nav-search {
	background-color:#b5152b;
}
.wy-nav-top {
	background-color:#b5152b;
}
.wy-nav-top img {
	background-color:#b5152b;
}
.wy-side-nav-search input[type=text] {
	border-color:#c34f5f;
}
.wy-side-nav-search img {
	background-color:#b5152b;
}
/* change the color of links to a matching red*/
a {
	color:#c34f5f;
	text-decoration:none;
	cursor:pointer
}
a:hover {
	color:#cf727e
}
a:visited {
	color:#c34f5f/*#752f39*/
}
a:visited:hover {
	color:#cf727e
}
/*leave the linkcolor in the sidebar like it was */
.wy-side-scroll a {
	color:#b3b3b3
}
.wy-side-scroll a:hover {
	background-color:#c34f5f;
	color:#fff
}
/*leave the title of the side bar in a pure white for readability*/
a.icon.icon-home {
	color:#fff
}
/*
toctree-l2 a:hover {
	background-color:##cf727e
}
*/
/*get paragraphs in justified form*/
p {
	text-align:justify
}
div {
	text-align:justify 
}
/*fix the width of content section*/
.wy-nav-content {
	max-width:800px
}
/* override table width restrictions */
@media screen and (min-width: 767px) {

   .wy-table-responsive table td {
      /* !important prevents the common CSS stylesheets from overriding
         this as on RTD they are loaded after this stylesheet */
      white-space: normal !important;
   }

   .wy-table-responsive {
      overflow: visible !important;
   }
}
/*table header styling*/
.wy-table thead th,.rst-content table.docutils thead th,.rst-content table.field-list thead th {
	font-weight:bold;
	border-bottom:solid 2px #e1e4e5;
    border-left: 1px solid #e1e4e5
}
