.wy-menu-vertical header,.wy-menu-vertical p.caption {
	color:#c34f5f;
}
.wy-side-nav-search {
	background-color:#b5152b;
}
.wy-nav-top {
	background-color:#b5152b;
}
.wy-nav-top img {
	background-color:#b5152b;
}
.wy-side-nav-search input[type=text] {
	border-color:#c34f5f;
}
.wy-side-nav-search img {
	background-color:#b5152b;
}
a {
	color:#c34f5f;
	text-decoration:none;
	cursor:pointer
}
a:hover {
	color:#cf727e
}
a:visited {
	color:#c34f5f/*#752f39*/
}
a:visited:hover {
	color:#cf727e
}
.wy-side-scroll a {
	color:#b3b3b3
}
.wy-side-scroll a:hover {
	background-color:#c34f5f;
	color:#fff
}
a.icon.icon-home {
	color:#fff
}
/*
toctree-l2 a:hover {
	background-color:##cf727e
}
*/