.wy-menu-vertical header,.wy-menu-vertical p.caption {
	color:#c34f5f;
}
.wy-side-nav-search {
	background-color:#b5152b;
}
.wy-nav-top {
	background-color:#b5152b;
}
.wy-nav-top img {
	background-color:#b5152b;
}
.wy-side-nav-search input[type=text] {
	border-color:#c34f5f;
}
.wy-side-nav-search img {
	background-color:#b5152b;
}
a {
	color:#c34f5f;
	text-decoration:none;
	cursor:pointer
}
a:hover {
	color:#cf727e
}
a:visited {
	color:#752f39
}